body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-stretch: 75%;
    padding: 20px 0;
}

.barChart {
    margin: auto;
    padding: 20px 0;
}

#title {
    font-size: 2.5em;
}

.bar {
    fill: #146551;
}

.bar:hover {
    fill: #8FC1B5;
}

#tooltip {
    background: rgba(69, 77, 93, .9);
    border-radius: .1rem;
    color: #fff;
    display: block;
    font-size: 14px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
    text-align: center;
    pointer-events: none;
}