@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2 supports variations'),
        url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2 supports variations'),
        url('/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-weight: 300 800;
    font-stretch: 75% 100%;
    font-display: swap;
    font-style: italic;
}