@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2 supports variations'),
        url('/fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-stretch: 25% 150%;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-stretch: 75%;
}