body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-stretch: 75%;
    text-align: center;
    padding: 20px 0;
}

.chart {
    margin: auto;
    padding: 20px 0;
}

#title {
    font-size: 2.5em;
}

#subtitle {
    font-size: 1.5em;
}

#tooltip {
    background: lightsteelblue;
    border-radius: .1rem;
    display: block;
    font-size: 1em;
    padding: 10px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    visibility: hidden;
    text-align: left;
    pointer-events: none;
}